body{
    font-family: 'Poppins', sans-serif;
}

/*header-section*/
header{
    background-color: #2D25A0;
    margin: 0;
}
.nav-sec{
    display: flex;
    justify-content: space-between;
    padding: 42px 156px;
}
.nav-1{
    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    text-decoration: none;
    margin-right: 36px;
    font-size: 16px;
}
.btn-1{
    background-color: #E02C6D;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    width: auto ;
    height: 50px;
    border: 0;
    font-size:16px ;
    padding:15px 30px ; 
    display: flex;
    
}