body{
    font-family: 'Poppins', sans-serif;
}

/*header-section*/
header{
    background-color: #2D25A0;
    margin: 0;
    height:750px;
    width: auto;
}
.nav-sec{
    display: flex;
    justify-content: space-between;
    padding: 42px 156px;
}
.nav-1{
    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    text-decoration: none;
    margin-right: 36px;
    font-size: 16px;
}
.btn-1{
    background-color: #E02C6D;
    color: #FFFFFF;
    align-items: center;
    justify-content:space-around;
    display: flex;
    border: 0;
    font-size:16px ;
    padding: 10px 15px;
    width:90px ;
}
.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copa-div{
    display: flex;

}
.copa{
    height:230px ;
    width: 485px;
    font-size: 64px;
    color: #FFFFFF;
    margin-left:156px;
    margin-top:0px ;
}
.btn-2{
    width:100px ;
    margin-top: 0px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    border: 0;
    width:150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 15px;
}
.imgdiv-2{
   width: 556px;
   height: 428px;
   margin-left: 102px;
   margin-top: 49px;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    margin: 70px 180px;
    gap:30px ;
}
.grid{
    height: 474px;
    padding: 15px 15px;
    box-shadow: 3px 10px 20px 7px rgba(135, 135, 135, 0.2), 3px 10px 20px 7px rgba(135, 135, 135, 0.2);
}
.grid-pic{
    width: 313px;
    height: 256px;
}
h1{
    font-size: 28px;
    color: #18191F;
}
.loren{
    font-size: 16px;
    color:#6C6C6C;  
}
.div-all{
    height: 427px;
    display: flex;
}
.highlight{
    padding-left:182px ;
    padding-top: 170px;
    height: 350px;  
    width: 500px;
}
.match{
    height: 427px;
    width:567px ;
    margin-right: 151px;
    padding-top: 160px;
    margin-left:79px;
}
.copa-last{
    font-size:48px ;
    color:#0A0826 ;
}
.last{
    width: 484px;
    height: auto;
    margin-top: 158px ;
    margin-left: 475px;
}
.footer-img{
    height: 110px;
    width: 484px;
}
.icon{
    display: flex;
    gap: 14px;
    height: 32px;
    width: 32px;
}